<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Add New Member details</h3>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="firstname2">Name</label>
                <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">
                <label for="lastname2">Phone Number</label>
                <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">
                <label for="lastname2">Milk Type</label>
                <!-- <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"> -->
                <div>
                    <p-dropdown [options]="milkeType" [(ngModel)]="selectedMilkType" optionLabel="name" placeholder="Select Milk Type" [style]="{'minWidth':'100%'}"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">
                <label for="firstname2">Firstname</label>
                <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col">
                <label for="lastname2">Lastname</label>
                <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
        </div>
        <div style="display: flex; float: right">
            <div style="padding: 2%;">
                <p-button label="Save" icon="pi pi-check" (click)="save()"></p-button>
                <!-- <p-button label="Save" [outlined]="true" severity="success"></p-button> -->
            </div>
            <div style="padding: 2%;">
                <p-button label="Cancel" severity="danger" (click)="cancel()"></p-button>
                <!-- <p-button label="Cancel" [outlined]="true" severity="danger"></p-button> -->
            </div>
        </div>
</div>

